
$add-button-box-shadow: #fce2c1; 
$add-button-top-gradient: #ffc477;
$add-button-bottom-gradient: #fb9e25;
$add-button-border: #eeb44f;
$add-button-text-shadow: #cc9f52;

$create-recipe-button-box-shadow: #72b352; 
$create-recipe-button-top-gradient: #90eb63;
$create-recipe-button-bottom-gradient: #72b352;
$create-recipe-button-border: #72b352;
$create-recipe-button-text-shadow: #5b8a3c;

$delete-button-top-gradient: #d0451b;
$delete-button-bottom-gradient: #bc3315;
$delete-button-border: #942911;
$delete-button-box-shadow: #cf866c;
$delete-button-text-shadow: #854629;

$edit-button-box-shadow: #29bbff; 
$edit-button-top-gradient: #2dabf9;
$edit-button-bottom-gradient: #0688fa;
$edit-button-border: #0b0e07;
$edit-button-text-shadow: #263666;

$hide-button-box-shadow: #29bbff; 
$hide-button-top-gradient: #2dabf9;
$hide-button-bottom-gradient: #0688fa;
$hide-button-border: #0b0e07;
$hide-button-text-shadow: #263666;

$show-button-box-shadow: #29bbff; 
$show-button-top-gradient: #2dabf9;
$show-button-bottom-gradient: #0688fa;
$show-button-border: #0b0e07;
$show-button-text-shadow: #263666;

$update-button-box-shadow: #72b352; 
$update-button-top-gradient: #90eb63;
$update-button-bottom-gradient: #72b352;
$update-button-border: #72b352;
$update-button-text-shadow: #5b8a3c;

@mixin flex {
	display: -webkit-flex;
	display: flex;
}

@mixin button($box-shadow-color, $top-gradient-color, $bottom-gradient-color, $border-color, $text-shadow-color) {
	-moz-box-shadow:inset 0px 1px 0px 0px $box-shadow-color;
	-webkit-box-shadow:inset 0px 1px 0px 0px $box-shadow-color;
	box-shadow:inset 0px 1px 0px 0px $box-shadow-color;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, $top-gradient-color), color-stop(1, $bottom-gradient-color));
	background:-moz-linear-gradient(top, $top-gradient-color 5%, $bottom-gradient-color 100%);
	background:-webkit-linear-gradient(top, $top-gradient-color 5%, $bottom-gradient-color 100%);
	background:-o-linear-gradient(top, $top-gradient-color 5%, $bottom-gradient-color 100%);
	background:-ms-linear-gradient(top, $top-gradient-color 5%, $bottom-gradient-color 100%);
	background:linear-gradient(to bottom, $top-gradient-color 5%, $bottom-gradient-color 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$top-gradient-color', endColorstr='$bottom-gradient-color',GradientType=0);
	background-color:$top-gradient-color;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid $border-color;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:11px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px $text-shadow-color;

 	&:hover {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, $bottom-gradient-color), color-stop(1, $top-gradient-color));
		background:-moz-linear-gradient(top, $bottom-gradient-color 5%, $top-gradient-color 100%);
		background:-webkit-linear-gradient(top, $bottom-gradient-color 5%, $top-gradient-color 100%);
		background:-o-linear-gradient(top, $bottom-gradient-color 5%, $top-gradient-color 100%);
		background:-ms-linear-gradient(top, $bottom-gradient-color 5%, $top-gradient-color 100%);
		background:linear-gradient(to bottom, $bottom-gradient-color 5%, $top-gradient-color 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$bottom-gradient-color', endColorstr='$top-gradient-color',GradientType=0);
		background-color:$bottom-gradient-color;
	}

	&:active {
		position:relative;
		top:1px;
	}
}


@mixin add-button {
	@include button($add-button-box-shadow, $add-button-top-gradient, $add-button-bottom-gradient, $add-button-border, $add-button-text-shadow);
}

@mixin create-recipe-button {
	@include button($create-recipe-button-box-shadow, $create-recipe-button-top-gradient, $create-recipe-button-bottom-gradient, $create-recipe-button-border, $create-recipe-button-text-shadow);
}

@mixin delete-button {
	@include button($delete-button-box-shadow, $delete-button-top-gradient, $delete-button-bottom-gradient, $delete-button-border, $delete-button-text-shadow);
}

@mixin edit-button {
	@include button($edit-button-box-shadow, $edit-button-top-gradient, $edit-button-bottom-gradient, $edit-button-border, $edit-button-text-shadow);
}

@mixin hide-button {
	@include button($hide-button-box-shadow, $hide-button-top-gradient, $hide-button-bottom-gradient, $hide-button-border, $hide-button-text-shadow);
}

@mixin show-button {
	@include button($show-button-box-shadow, $show-button-top-gradient, $show-button-bottom-gradient, $show-button-border, $show-button-text-shadow);
}

@mixin update-button {
	@include button($update-button-box-shadow, $update-button-top-gradient, $update-button-bottom-gradient, $update-button-border, $update-button-text-shadow);
}

.add-button {
	@include add-button;
}

.delete-button {
	@include delete-button;
}
	
.edit-button {
	@include edit-button;
}

.hide-button {
	@include hide-button;
}
	
.update-button {
	@include update-button;
}

.show-button {
	@include show-button;
}

.show-create-recipe-button {
	@include create-recipe-button;
}