

.add-recipe-pane {
	width: 90%;
	margin: 0 auto;
	background-color: #d6f5d6;
	margin-top: 2em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 1em;

	input {
		width: 50%;
	}	
	
	span, p {
		font-weight: bold;
	}
	
	textarea {
		min-width: 70%;
		max-width: 70%;
	}
	
	.add-recipe-controls,.add-recipe-ingredients, .add-recipe-directions, .add-recipe-reference {
		padding-top: 0.5em;
		padding-left: 1em;	
	}
	
	.add-recipe-controls {
		@include flex;
		justify-content: space-between;
		align-items: center;
		
		.button-section {
			margin-right: 1em;
		}
		button {
			margin-right: 0.5em;
		}
	}
}
.show-create-recipe-section {
	width: 90%;
	margin: 0 auto;
	text-align: right;
	margin-top: 4em;
	margin-bottom: 1.5em;
	
	.show-create-recipe-button {
		margin-right: 0.5em;
	}
}
