.recipe-list {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 5em;
}

.title {
	width: 90%;
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold; 
	font-size: 40px;
	color: #333;
}